body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(300deg, #0dddec, #4c84f3, #0018f0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
caption{
    font-size: 3rem;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
