<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8">
<TITLE>Permissions</TITLE>
<link rel="stylesheet" href="./styles.css">
</HEAD>
<BODY>
<TABLE BORDER=1 BGCOLOR=#ffffff CELLSPACING=0><FONT FACE="Calibri" COLOR=#000000><CAPTION><B>Permissions</B></CAPTION></FONT>

<THEAD>
<TR>
<TH BGCOLOR=#c0c0c0 BORDERCOLOR=#000000 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Name</FONT></TH>
<TH BGCOLOR=#c0c0c0 BORDERCOLOR=#000000 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Rank</FONT></TH>
<TH BGCOLOR=#c0c0c0 BORDERCOLOR=#000000 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>BUET ID</FONT></TH>
<TH BGCOLOR=#c0c0c0 BORDERCOLOR=#000000 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Email</FONT></TH>

</TR>
</THEAD>
<TBODY>
<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ehsan Mozid</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>158</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310003</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>ehsanmozid@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Badhon Guho</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>406</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310014</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>badhanguha068@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Mafi</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>445</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310039</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>amhmafi1309@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Asad</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>451</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310044</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>niamulasad333@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Raian</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>459</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310050</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>raianmahfuz68@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Labib</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>466</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310054</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>yasirlabib5098@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Raghib</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>468</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310056</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>raghib.mazed357@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Muzahid</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>475</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310061</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>smh.shorif21@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ahsan</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>478</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310064</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>ahsanadil762@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Atahar</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>482</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310066</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>rafidhossainniloy42@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Sumit</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>489</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310070</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>aronnyapalit@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Tasin</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>490</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310071</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>tasinbhuiyan97@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Faiaz</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>503</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310081</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>faiaz.abdullah.11@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Tasfiya</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>505</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310083</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>tasfiya.alam2015@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Nabhan</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>517</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310093</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>20.nabhan.04@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Zarif</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>527</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310100</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>azrafkhanzarif@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Sazid</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>531</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310103</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>sazid.techminate@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ratul</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>554</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310118</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>mdratulhasan18@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Emon</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>557</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310120</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>ahademon2004@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Farbeen</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>566</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310128</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>farbeen.ferdous@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ratul</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>582</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310139</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>ratul98674523@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Kabbo</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>592</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310144</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>kabbo.km5@gmail.com</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Sazid</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>650</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310177</FONT></TD>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>arnobbd100@gmail.com</FONT></TD>

</TR>
</TBODY>
<TFOOT></TFOOT>
</TABLE>
</BODY>
</HTML> 