<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8">
<TITLE>Permissions - 2</TITLE>
<link rel="stylesheet" href="./styles.css">
</HEAD>
<BODY>
<TABLE BORDER=1 BGCOLOR=#ffffff CELLSPACING=0><FONT FACE="Calibri" COLOR=#000000><CAPTION><B>Permissions - 2</B></CAPTION></FONT>

<THEAD>
<TR>
<TH BGCOLOR=#c0c0c0 BORDERCOLOR=#000000 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Name</FONT></TH>
<TH BGCOLOR=#c0c0c0 BORDERCOLOR=#000000 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Rank</FONT></TH>
<TH BGCOLOR=#c0c0c0 BORDERCOLOR=#000000 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>BUET ID</FONT></TH>

</TR>
</THEAD>
<TBODY>
<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Himel</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>128</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310001</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ehsan</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>158</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310003</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Badhon</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>406</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310014</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Mafi</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>445</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310039</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Himel</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>446</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310040</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Shamit</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>449</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310042</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Asif</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>450</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310043</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Asad</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>451</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310044</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Partha</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>452</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310045</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Raian</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>459</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310050</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Labib</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>466</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310054</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Raghib</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>468</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310056</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Muzahid</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>475</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310061</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ahsan</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>478</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310064</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Atahar</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>482</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310066</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Sumit</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>489</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310070</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Tasin</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>490</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310071</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Tasnimul</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>491</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310072</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Sayem</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>502</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310080</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Faiaz</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>503</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310081</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Tasfiya</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>505</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310083</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Sifat</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>507</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310085</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Nabhan</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>517</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310093</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Khairul</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>524</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310097</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Zarif</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>527</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310100</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Sazid</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>531</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310103</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ahnaf</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>536</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310107</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ratul</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>554</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310118</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Emon</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>557</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310120</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Aziz</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>559</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310122</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Farbeen</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>566</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310128</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Ratul</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>582</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310139</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Kabbo</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>592</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310144</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Nafisa</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>601</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310150</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Dhrubo</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>621</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310165</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Adib</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>628</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310170</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Tapu</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>629</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310171</FONT></TD>

</TR>

<TR VALIGN=TOP>
<TD BORDERCOLOR=#d0d7e5 ><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>Sazid</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>650</FONT></TD>
<TD BORDERCOLOR=#d0d7e5  ALIGN=RIGHT><FONT style=FONT-SIZE:11pt FACE="Calibri" COLOR=#000000>2310177</FONT></TD>

</TR>
</TBODY>
<TFOOT></TFOOT>
</TABLE>
</BODY>
</HTML> 